name: flutter_web3_webview
description: Webview supported connected to web3 DApp in Flutter. Now support EVM chain & Solana, and will support more at future.
homepage: https://github.com/fxwalletOfficial/flutter_web3_webview
version: 0.1.5

environment:
  sdk: '>=3.3.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_inappwebview: ^6.0.0
  uuid: ^4.4.0


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - packages/flutter_web3_webview/js/provider.min.js